@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.home-page {
  display: flex;
  font-family: 'VT323', monospace;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  /* scroll-snap-align: start; */
}

.home-page .portfolio-title {
  /* display: flex;
  flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 2.75rem;
  padding-top: 10px;
}

.center-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px;
  font-size: 2.5rem;
  padding: 20px;
}

.select-row {
  display: flex;
  min-width: 150px;
}

.select-row:hover {
  background-color: #cececefd;
}

.triangle {
  display: none;
}

.select-row:hover .triangle {
  padding-top: 10px;
  display: block; /* Display the triangle when the row is hovered */
}

.text-selection {
  padding: 10px;
  transition: transform 0.05s ease-in-out;
}

.select-row:hover .text-selection {
  transform: scale(1.05);
}

a {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: wavy;
}

.home-page a {
  color: rgb(110, 59, 110);
}

