.contact-page {
  font-family: 'VT323', monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  align-items: center;
  /* scroll-snap-align: start; */
}

.contact-page-content {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
}

.contact-page-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gmail {
    background-image: url(./gmail.png);
}

.github {
    background-image: url(./github.png);
}

.linkedin {
    background-image: url(./linkedin.png);
}

.social-button {
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    float: left;
    margin: 4px 20px 4px 20px;
    border: none;
}

.social-button:hover {
    transform: scale(1.15);
}