@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bad4ec;
}

.portfolio {
  width: 100%;
  height: 100vh;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}

.home-page {
  display: flex;
  font-family: 'VT323', monospace;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  /* scroll-snap-align: start; */
}

.overview-page, .projects-page, .contact-page {
  font-family: 'VT323', monospace;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  align-items: center;
  /* scroll-snap-align: start; */
}

.subpage-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.75rem;
  padding-top: 10px;
}